@model Vidly.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Movies.Count > 0)
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        <tbody>

        @foreach (var item in Model.Movies)
        {
            <tr>
                @*<td>@item.Name</td>
        The last null parameter is needed for proper working......: *@
                <td>
                    @Html.ActionLink(item.Name, "Details", "Movies", new { id = item.Id }, null)
                </td>
                <td>@item.Genre.GenreName</td>
            </tr>
        }

        </tbody>
    </table>
}
else
{
    <p>We have no movies yet!</p>
}
    

