@model Vidly.ViewModels.CustomerDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Name: @Model.Name</h2>
<ul>
    <li>Memebership Type: @Model.MembershipTypeName</li>
    @if (Model.Birthday != null)
    {
        <li>Birthday: @Model.Birthday.Value.ToShortDateString()</li>
    }
</ul>
